@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body::after {
  content: "";
  background: url('../images/Light-Gradient.jpeg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body, input, button {
  font-family: 'Titillium Web', sans-serif;
  color: #484848;
}

body {
  background-color: hsl(0, 0%, 90%);
}

#input {
  width: 85%;
}

#submit {
  width: 15%;
}

button {
  border: none;
  border-radius: 4px;
  padding:0.5rem;
  background-color: hsl(110, 59%, 56%);
}

button:hover {
  cursor: pointer;
}

#root, #wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  color: #93005a;

}

h1 {
  font-size: 1.75rem;
  line-height: 5rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 3rem;
}

h3 {
  font-size: 0.75rem;
  line-height: 2rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  font-size: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #484848;
}

nav a.active {
  color: #ff4b00;
}

#error {
  color: red;
  margin: 1rem 0 1rem 0;
}

#todos {
  margin: 0 0 1rem 0;
}

ul, form {
  margin: 1rem 0 1rem 0;
}

.todoList {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  padding: 1rem;
  border: 2px solid hsl(200, 50%, 50%);
  background-color: hsl(200, 80%, 75%);
}

.todo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  padding: 0.8rem;
  background-color: hsl(170, 80%, 75%);
  border: 2px solid hsl(170, 50%, 50%);
}

.todo:hover {
  cursor: pointer;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
  padding: 1rem;
  background-color: hsl(0, 80%, 75%);
  border: 2px solid hsl(0, 50%, 50%);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}